In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [28]:
model=load_model('model.h5')

In [29]:
with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

In [30]:
with open('oh.pkl','rb') as f:
    oh=pickle.load(f)

In [31]:
with open('labelencoder.pkl','rb') as f:
    labelencoder=pickle.load(f)

In [32]:
input_data={
    'CreditScore': 600,
       'Geography': 'France',
       'Gender': 'Male',
       'Age': 40,
       'Tenure': 3,
       'Balance': 60000,
       'NumOfProducts': 2,
       'HasCrCard': 1,
       'IsActiveMember': 1,
       'EstimatedSalary': 50000,

}

In [33]:
geo_encoder=oh.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=oh.get_feature_names_out(['Geography']))

d:\Python\ANN\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [34]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [37]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [36]:
input_data=pd.DataFrame([input_data])

In [38]:
input_data['Gender']=labelencoder.transform(input_data['Gender'])

In [39]:
input_data=input_data.drop('Geography',axis=1)

In [40]:
input_data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [41]:
input_scaled=scaler.transform(input_data)

In [42]:
input_scaled

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [43]:
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 141ms/step

In [45]:
prediction

array([[0.0248123]], dtype=float32)

In [46]:
prediction_proba=prediction[0][0]

In [47]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.